<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533727132184-32hqmcjjp15lb9add1l5h691krvhthbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533727132184-32hqmcjjp15lb9add1l5h691krvhthbp</string>
	<key>API_KEY</key>
	<string>AIzaSyARITEtKOvvee0bTAQw2mpMA91yr6XAs4k</string>
	<key>GCM_SENDER_ID</key>
	<string>533727132184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>coriander-app-8a2f1</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app-8a2f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533727132184:ios:7517304374f50036cba16d</string>
</dict>
</plist>